.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.container {
  padding: 2rem;
}

@media (min-width: 850px) {
  .container {
    padding: 3rem;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 4.5rem;
  }
}

.title {
  z-index: 1;
  display: flex;
  color: black;
  font-family: 'Monument Extended', sans-serif;
  font-weight: 900;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title_main {
  letter-spacing: 10px;
  font-size: 3.2rem;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@media (min-width: 850px) {
  .title_main {
    font-size: 6.4rem;
  }
}

@media (min-width: 1025px) {
  .title_main {
    font-size: 8rem;
  }
}

.title_sup {
  position: absolute;
  font-size: 1rem;
  letter-spacing: 3px;
  right: -10%;
}

@media (min-width: 850px) {
  .tittle_sup {
    right: -15%;
    font-size: 2.4rem;
  }
}

@media (min-width: 1025px) {
  .title_sup {
    right: -22%;
    font-size: 3.6rem;
  }
}

.sphere {
  display: none;
}

@media (min-width: 850px) {
  .sphere {
    display: grid;
  }
}

.sphere {
  opacity: 1;
  width: 23vw;
  height: 23vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  overflow: hidden;
  perspective: 800px;
  border: 1px whitesmoke solid;
  /*TODO define it black background looks good...*/
  background-image: linear-gradient(black 0 0);
  background-blend-mode: multiply;
}

.ring {
  grid-area: 1/1;
  border-style: solid;
  border-color: white;
  border-width: 10px 0px 0px 0px;
  border-radius: 50%;
  animation: ring-descend 7s linear infinite;
}

.ring:nth-child(2) {
  animation-delay: 0.5s;
}

.ring:nth-child(3) {
  animation-delay: 1s;
}

.ring:nth-child(4) {
  animation-delay: 1.5s;
}

.ring:nth-child(5) {
  animation-delay: 2s;
}

.ring:nth-child(6) {
  animation-delay: 2.5s;
}

.ring:nth-child(7) {
  animation-delay: 3s;
}

.ring:nth-child(8) {
  animation-delay: 3.5s;
}

.ring:nth-child(9) {
  animation-delay: 4s;
}

.ring:nth-child(10) {
  animation-delay: 4.5s;
}

.ring:nth-child(11) {
  animation-delay: 5s;
}

.ring:nth-child(12) {
  animation-delay: 5.5s;
}

.ring:nth-child(13) {
  animation-delay: 6s;
}

.ring:nth-child(14) {
  animation-delay: 6.5s;
}

@keyframes ring-descend {
  0% {
    transform: rotateX(-10deg);
  }

  100% {
    transform: rotateX(190deg);
  }
}

.content {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  color: #fff;
  vertical-align: baseline;
}

.dwl {
  height: fit-content;
  position: relative;
  display: block;
  color: #fff;
}

.kanji {
  position: absolute;
  top: -1rem;
  left: -1rem;
  color: #ed1e79;
  font-size: 1.5rem;
  font-weight: 700;
}

.phrase {
  display: flex;
  font-family: 'Monument Extended', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  line-height: 0.9;
}

.phrase_sup {
  margin-top: 0.54rem;
  margin-left: -1.3rem;
  font-family: 'Monument Extended', sans-serif;
  font-size: 0.65rem;
}

.reel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
@media (min-width: 850px) {
  .reel {
    display: block;
    padding-bottom: 3rem;
  }
}

@media (min-width: 1025px) {
  .reel {
    display: block;
    padding-bottom: 4.5rem;
  }
}

.social {
  margin-right: 12rem;
  margin-bottom: -2.5rem;
  display: none;
  list-style: none;
}

@media (min-width: 1025px) {
  .social {
    display: block;
  }
}

.social_item {
  color: #fff;
  margin-bottom: 1rem;
}

.social_link {
  color: #fff;
  text-decoration: none;
  transition: color 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-align: -webkit-match-parent;
  font-family: 'TT Mussels Trl', sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.social_item:hover .social_link {
  color: #1aff31;
}
